[submodule "small_problems/easy1/05-reverse_it1"]
	path = small_problems/easy1/05-reverse_it1
	url = https://gist.github.com/lederle/cf9c0fd88016611fe3e30b3db8060dc6
[submodule "small_problems/easy1/06-reverse_it2"]
	path = small_problems/easy1/06-reverse_it2
	url = https://gist.github.com/lederle/905a102ab0d4297f31abfbf267638dcf
[submodule "small_problems/easy1/07-stringy_strings"]
	path = small_problems/easy1/07-stringy_strings
	url = https://gist.github.com/lederle/594705cedd15a6817b1385dc0316b9a1
[submodule "small_problems/easy1/08-array_average"]
	path = small_problems/easy1/08-array_average
	url = https://gist.github.com/lederle/7594dc73912f60bf3a52d1cc9b1db482
[submodule "small_problems/easy1/09-sum_of_digits"]
	path = small_problems/easy1/09-sum_of_digits
	url = https://gist.github.com/lederle/61a0ee8acb4095a654dce3288b33ea0d
[submodule "small_problems/easy1/10-whats_my_bonus"]
	path = small_problems/easy1/10-whats_my_bonus
	url = https://gist.github.com/lederle/4d6f19989b12b20b9cb4bbc8e2a7b63b
[submodule "small_problems/easy2/01-how_old_is_teddy"]
	path = small_problems/easy2/01-how_old_is_teddy
	url = https://gist.github.com/lederle/d229b2076c48c5da9139902be724c978
[submodule "small_problems/easy2/02-how_big_is_the_room"]
	path = small_problems/easy2/02-how_big_is_the_room
	url = https://gist.github.com/lederle/622bf865d02c2d7db74fb8aa8ab0aaaa
[submodule "small_problems/easy2/03-tip_calculator"]
	path = small_problems/easy2/03-tip_calculator
	url = https://gist.github.com/lederle/4ad4623935f28e88929c28051d21d4f9
[submodule "small_problems/easy2/04-when_will_i_retire"]
	path = small_problems/easy2/04-when_will_i_retire
	url = https://gist.github.com/lederle/ce087a905de4c450bfcced36b5f5cb57
[submodule "small_problems/easy2/05-greeting_a_user"]
	path = small_problems/easy2/05-greeting_a_user
	url = https://gist.github.com/lederle/660cadf223249f0fd474f14fcda07f30
[submodule "small_problems/easy2/06-odd_numbers"]
	path = small_problems/easy2/06-odd_numbers
	url = https://gist.github.com/lederle/9aa96539225a87bb7d75b8df8156a2f3
[submodule "small_problems/easy2/07-even_numbers"]
	path = small_problems/easy2/07-even_numbers
	url = https://gist.github.com/lederle/233f647b320fd0dda03f6f2336440acf
[submodule "small_problems/easy2/08-sum_or_product_of_consecutive_integers"]
	path = small_problems/easy2/08-sum_or_product_of_consecutive_integers
	url = https://gist.github.com/lederle/1c7c36bcb21fef0f30686dad4a7d159e
[submodule "small_problems/easy2/09-string_assignment"]
	path = small_problems/easy2/09-string_assignment
	url = https://gist.github.com/lederle/fa9597012aff71c7fb4d8d4f414db470
[submodule "small_problems/easy2/10-mutation"]
	path = small_problems/easy2/10-mutation
	url = https://gist.github.com/lederle/ec2cda7ccea979965e083f0783f77da3
[submodule "small_problems/easy3/01-searching_101"]
	path = small_problems/easy3/01-searching_101
	url = https://gist.github.com/lederle/10e23a8f2b9e73858bef20968667075c
