[submodule "small_problems/easy1/05-reverse_it1"]
	path = small_problems/easy1/05-reverse_it1
	url = https://gist.github.com/lederle/cf9c0fd88016611fe3e30b3db8060dc6
[submodule "small_problems/easy1/06-reverse_it2"]
	path = small_problems/easy1/06-reverse_it2
	url = https://gist.github.com/lederle/905a102ab0d4297f31abfbf267638dcf
[submodule "small_problems/easy1/07-stringy_strings"]
	path = small_problems/easy1/07-stringy_strings
	url = https://gist.github.com/lederle/594705cedd15a6817b1385dc0316b9a1
[submodule "small_problems/easy1/08-array_average"]
	path = small_problems/easy1/08-array_average
	url = https://gist.github.com/lederle/7594dc73912f60bf3a52d1cc9b1db482
[submodule "small_problems/easy1/09-sum_of_digits"]
	path = small_problems/easy1/09-sum_of_digits
	url = https://gist.github.com/lederle/61a0ee8acb4095a654dce3288b33ea0d
[submodule "small_problems/easy1/10-whats_my_bonus"]
	path = small_problems/easy1/10-whats_my_bonus
	url = https://gist.github.com/lederle/4d6f19989b12b20b9cb4bbc8e2a7b63b
